* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: lightsteelblue;
  color: #fff;
  height: 50vh;
  overflow: auto;
}
.top {
  font-family: monospace;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
  padding: 20px;
  font-size: 23px;
}
.add {
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(89, 140, 206);
  transition: transform ease-out 0.5s;
}
.add:hover {
  transform: scale(1.2);
  color: white;
  background: rgb(89, 140, 206);
}
.book_shelf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid bisque;
  border-radius: 12px;
  width: fit-content;
  height: 150px;
  padding: 10px;
  margin: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  box-shadow: 3px 5px 4px   rgb(155, 150, 150);
}
.form {
  display: none;
  max-width: 100vw;
}

.formdiv {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  color: rgb(93, 144, 161);
  background-color: white;
}

input {
  outline: none;
  padding: 10px;
  margin: 10px;
  border: 0;
  border-bottom: 1px solid rgb(185, 185, 185);
}
#bsubmit {
  margin-left: 80px;
  padding: 20px 40px;
}

.booksflex {
  display: none;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
h5{
  text-decoration: underline;
color: rgba(238, 221, 144, 0.938);
}